#cart {
  #Container {
    background: $gray2;
    #CartHeader {
      background: $white;
      padding: 10px 20px;
    }
    #CartStatusMessage {
      @include bar_header;
      padding: 0;
      .SuccessMessage {
        padding: 10px 20px;
        background: $green1;
      }
      .ErrorMessage {
        padding: 10px 20px;
        background: red;
      }
    }
    #CartContent {
      background: $white;
      margin: 15px;
      padding: 10px;
      .cart_items {
        ._flex_box {
          position: relative;
          border-bottom: $border_gray2;
          padding: 10px;
          ._flex_box_item_1 {
            width: 100% !important;
          }
          .CartThumb {
            width: 100% !important;
            padding: 0 10px;
          }
          .ProductName {
            float: left;
            margin: 10px 0;
            font-weight: bold;
            a {
              color: $text_color;
            }
          }
          .CartItemQuantity {
            float: left;
            clear: both;
            &:before {
              content: "QTY";
            }
            .ui-select {
              border: $border_gray2;
              display: inline-block;
              background: white;
              &:after {
                content: " ";
                position: absolute;
                bottom: 50%;
                right: 10px;
                @include sprites-formQtyTriangle;
              }
              .ui-btn {
                margin: 0;
              }
              .ui-btn-inner {
                padding: 3px 25px 0 15px;
              }
            }
          }
          .CartItemIndividualPrice {
            float: left;
            clear: both;
            color: $green1;
            margin: 10px 0;
          }
        }
      }
      .updateQuantity, .applyBtn {
        float: right;
        margin: 0;
        padding: 0;
        font-size: $h3_size;
        .ui-submit {
          margin: 0;
        }
        &.applyBtn {
          min-width: 80px;
          float: left;
          margin: 0 10px;
          padding: 4px;
          background: $orange1;
        }
      }
      #cartForm {
        // update quantity button
        .FloatLeft {
          padding: 20px; 
        }
      }
      .ProceedToCheckout {
        clear: both;
      }
      .totals {
        float: right;
        padding: 10px;
        .EstimateShippingLink {
          margin: 0;
          font-size: $h3_size;
        }
        div {
          float: left;
          margin: 5px;
        }
        > div {
          float: right;
          clear: both;
        }
      }
    }
    #LayoutColumn3 {
      #SideCouponCodeBox, #SideGiftCertificateCodeBox {
        clear: both;
        padding: 10px 0;
        margin: 10px 0;
        overflow: hidden;
        border: $border_gray2;
        background: $gray4;
        .BlockContent {
          margin: 0 10px;
        }
        #couponcode, #giftcertificatecode {
          width: 120px;
          background: white;
          border: $border_gray2;
          border-radius: 0;
        }
        h2 {
          padding: 0 14px;
          font-family: GrotesqueMT Condensed;
          text-transform: uppercase;
        }
        input {
          float: left;
        }
      }
    }
  }
}