// Every page should have a class on the body
// Scope that in each file at the start
._home {
  padding-top: 0 !important;
  #Container {
    // Keeping entire scroll container in view using margins
    margin-top: 50px;
    margin-bottom: 62px;
    padding: 20px 0;
    overflow: scroll;
    h2 {
      text-align: center;
      padding: $spacing;
      ._h2 {
        padding: 5px 20px;
        border-bottom: $border_gray1;
        box-shadow: 0 1px 0 $gray2;
      }
    }
    #LayoutColumn2 {
      .Block {
        overflow: hidden;
      }
    }
    [data-ur-set="carousel"] {
      position: relative;
      margin: 10px 0;
      overflow: visible;
      height: 140px;
      [data-ur-carousel-component="scroll_container"] {
        [data-ur-carousel-component="item"] {
          .ProductImage {
            text-align: center;
            img {            
              // height: 120px;
            }
          }
          ._details {
            line-height: $line_height;
            padding: 15px 0;
            max-width: 50%;
            margin: 0 30px 0 10px;
            .ProductDetails {
              a {
                color: $text_color;
              }
            }
            .ProductPriceRating {
              color: $green1;
              font-size: $h2_size;
              .Rating {
                display: block;
              }
            }
          }
          ._image {
            margin: 0 10px 0 30px;
          }
        }
      }
      [data-ur-carousel-component="dots"] {
        clear: both;
        margin: 10px 0;
        position: absolute;
        left: 50%;
        bottom: -20px;
        > div {
          margin: 0 3px;
          height: 7px;
          width: 7px;
          &[data-ur-state="active"] {
            background: $green1;
          }
        }
      }
      [data-ur-carousel-button-type="prev"] {
        clear: both;
        padding: 30px $spacing;
        position: absolute;
        top: 35px;
        left: 0;
        z-index: 5;
        @include transform(rotate(180deg));
      }
      [data-ur-carousel-button-type="next"] {
        clear: both;
        padding: 30px $spacing;
        position: absolute;
        top: 30px;
        right: 0;
        z-index: 5;
      }
    }
  }
}

#categories {
  #SideCategoryList {
    margin-top: 50px;
    li:first-child {
      border-top: 0;
    }
  }
  #SideNewsletterBox {
    margin-bottom: 62px;
  }
}

#cart {
  #LayoutColumn2 {
    margin-top: 50px;
  }
  #LayoutColumn3 {
    margin-bottom: 30px;
  }
}