// Every page should have a class on the body
// Scope that in each file at the start
._home {
  #Container {
    // Keeping entire scroll container in view using margins
    margin-top: 50px;
    margin-bottom: 62px;
    padding: 20px $spacing;
    h2 {
      text-align: center;
      padding: $spacing;
      ._h2 {
        padding: 10px 20px;
        border-bottom: $border_gray2;
        // box-shadow: 0 1px 0 $gray1;
      }
    }
  }
}

#categories {
  #SideCategoryList {
    margin-top: 50px;
  }
  #SideNewsletterBox {
    margin-bottom: 62px;
  }
}

#cart {
  #LayoutColumn2 {
    margin-top: 50px;
  }
  #LayoutColumn3 {
    margin-bottom: 30px;
  }
}