#login {
  #Container {
    padding: $spacing;
    line-height: $line_height;
    margin-top: 50px;
    margin-bottom: 62px;
    .title {
      color: $green1;
      text-shadow: none;
    }
    ._h2 {
      margin-top: 20px;
    }
    hr {
      border-bottom: 0;
      margin: 10px 0;
      box-shadow: $box_shadow_wide;
    }
    .AccountLogin {
      form {
        padding: 0;
      }
      div.ui-input-text {
        padding-left: 0;
      }
      input {
        background: $gray4;
        border-radius: 5px;
        box-shadow: none;
        padding: 10px;
        margin: 0;
        font-size: 13px;
        font-weight: normal;
      }
      ._btn_green1 {
        margin: 5px 0;
      }
      .forgot_password {
        color: $orange1;
        margin: 0 7px;
      }
      .Submit {
        .ui-submit {
          margin: 0;
        }
      }
    }
  }
}