#product {
  #Container {
    line-height: $line_height;
  }
  ._content {
    margin-top: 49px;
    margin-bottom: 62px;
  }

  .ErrorMessage {
    @include bar_header;
    padding: 0;
    padding: 10px 20px;
    background: red;
    color: white;
  }

  hr {
  	border-bottom:1px solid #aaa;
  	padding-bottom: 0px;
  	margin-bottom: 10px;
  }

  .Header {
		text-align:left;
		font-weight: bold;
		font-size: $h2_size;
	}

	.ProdDesc {
		text-align: left;
	}

	.ProdFeatures {
		text-align: left;
		list-style-type: square;
		position:relative;
		right: -20px;
	}

	.p {
		text-align: left;
	}

  .ProductThumbImage {
    margin: 20px 0;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  }
  .DetailRow {
    a {
      color: $text_color;
    }
  }
  .addCart {
    margin: 0;
    padding: 0;
    .ui-submit {
      margin: 0;
    }
  }
 
	// Product page styling goes here
	.ProductMain {    
		margin: 10px;
		padding: 10px;
		border: 1px solid;
		background-color: $gray4;
  	.price {
  		text-align: center;
      font-weight: bold;
      em {
  		  font-size: $h1_size + 3;
  		  color: $green1;
      }
  	}
  	.title {
  		text-align: left;	
  		font-weight: bold;
  	}
  	.sku {
  		display: inline;
  		text-align: left;
  	}
  	.quantity {
  		text-align:left;
		  font-weight: bold;
		  font-size: $h2_size;
  		display: inline;
  	}
  	.ProductDescription {

  	}
  	.ui-select {
  		border: $border_gray2;
  		display: inline-block;
      background: white;
      &:after {
        content: " ";
        position: absolute;
        bottom: 50%;
        right: 10px;
        @include sprites-formQtyTriangle;
      }
      .ui-btn {
  			margin: 0;
  		}
  	}
  	.BulkDiscount {
  		display: inline-block;
  	}
  	.Label{
		  text-align: left;
		  display: inline;
	   }
  	.Value{
  		text-align: left;
  		display:inline;
  	}
	}
	.SimilarProductsByViews {
		margin-left: auto;
  	margin-right: auto;
  	text-align: center;
  	font-weight: bold;
  	padding:5px 5px;
	}
}