#search {
  #Container {
    // Keeping entire scroll container in view using margins
    margin-top: 50px;
    margin-bottom: 62px;
    background: $gray2;
    ._bar_header {
      text-align: center;
    }
    #SearchResultsProduct {
      padding: 20px;
      .ProductRightCol {
        clear: both;
      }
      .ProductList {
        .ListView {
          background: $white;
          padding: 10px 0;
          margin: 10px 0;
          border-bottom: $border_gray2;
          box-shadow: $box_shadow_wide;
          .ProductImage {
            padding: 0 10px;
          }
          .ProductDetails {
            max-width: 66%;
            line-height: $line_height;
            padding: 10px;
            max-height: 200px;
            overflow: hidden;
            .ProductPrice {
              color: $green1;
              display: block;
              clear: both;
            }
            a {
              color: $text_color;
            }
            .ProductDescription {
              margin-top: 10px;
              font-size: 11px;
              line-height: $line_height;
            }
          }
        }
      }
    }
  }
}