<div class="_carousel_hero" data-ur-set="carousel" data-ur-carousel-component="view_container" data-ur-id="hero_carousel" data-ur-infinite="enabled" data-ur-verical-scroll="disabled" data-ur-center="disabled" data-ur-clones="2" data-ur-autoscroll="enabled" data-ur-state="enabled">
  <div class="_carousel_container" data-ur-carousel-component="scroll_container">
    <div class="_carousel_item" data-ur-carousel-component="item">
    </div>
  </div>
  <div class="_carousel_nav" data-ur-carousel-component="dots">
  </div>
</div>