<header class="_header _tabs" data-ur-set="tabs" data-ur-closeable="true">
  <a href="/">
    <div class="_logo">
    </div>
  </a>

  <div class="_tabs_button mw_toggler_btn_icon" data-ur-tab-id="menu", data-ur-tabs-component="button" onclick="x$('._menu_mask').toggleClass('_active');">
    <div class="sprites-menu"></div>
  </div>

  <div class="_tabs_content" data-ur-tab-id="menu" data-ur-tabs-component="content">
    <div class="_tabs_link _bar_gray1"></div>
  </div>
</header>

<div class="_menu_mask"></div>