<div class="_help_mask">
  <h1 class="_h1">Instructions</h1>
  <ol>
    <li>
      <h2 class="_h2">1. Move & Transform</h2>
      <p>Use Tritium functions such as <code>move_here()</code> to move other elements into the appropriate places.
        <p>Transform these elements with functions such as
        <code>add_class()</code> and <code>attribute()</code>.</p>
        <p>Remove unwanted elements with the <code>remove()</code>
        function.</p>
    </li>
    <li>
      <h2 class="_h2">2. Template & Merge</h2>
      <p>For advanced use, try out the new <code>template()</code> function to give your page some quick structure and functionality.</p>
        <p>Fill in the template using the <code>merge()</code> and <code>placeholder()</code> functions.</p>
        <p>Learn more about how to use templates in the README.md file.</p>
    </li>
    <li>
      <h2 class="_h2">3. Adjust Styles</h2>
      <p>Adjust the style gude to fit your liking. This includes the
        _variables.scss, _lib.scss, and _base.scss files.</p>
        <p>Adjust the page specific styles. This includes the header.scss, _footer.scss, and _home.scss files.</p>
    </li>
    <li>
      <h2 class="_h2">4. Additional Resources</h2>
      <p><a href='http://console.moovweb.com'>Moovweb Console</a>
        - Learn how to build and manage your mobile site.</p>
        <p><a href='http://play.tritium.io'>Tritium Tester</a>
        - Test out your Tritium.</p>
        <p><a href='http://tritium.io'>Tritium API</a> - Dive
        into the API with descriptions and examples for every
        function.</p>
        <p>Email questions to help@moovweb.com.</p>
    </li>
  </ol>
</div>