// Panel Styles
.ui-panel {
  background-color: $gray1;
  // min-height: auto;
  .ui-panel-inner {
    background-color: $gray1;
    border-bottom: $border_gray1;
    padding: 0;
    ._bar_gray1 {
      border-bottom: $border_gray1;
      text-transform: uppercase;
    }
  }
}

// Collapsible Styles
.ui-collapsible-set {
  width: 100%;
  overflow: hidden;
  margin: 0;
  .ui-collapsible-heading {
    float: left;
    width: 100%;
    padding: 8px;
    &.ui-collapsible-heading-collapsed {
      background-color: $white;
    }
    .ui-btn-inner {
      padding: 0;
    }
  }
  .ui-collapsible-content {
    float: left;
    width: 100%;
    clear: both;
    padding: 0;
  }
}