// VARIABLES
// -----------------------------

// Global values for color schemes and basic styles
// for Moovweb project

// Fonts
@font-face {
  font-family: 'GrotesqueMT';
  src: image-url('fonts/GrotesqueMTStd.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GrotesqueMT';
  src: image-url('fonts/GrotesqueMTStd-Black.otf');
  font-weight: bold;
  font-style: normal, italic, oblique;
}

@font-face {
  font-family: 'GrotesqueMT';
  src: image-url('fonts/GrotesqueMTStd-Italic.otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'GrotesqueMT Condensed';
  src: image-url('fonts/GrotesqueMTStd-Condensed.otf');
  font-weight: normal;
  font-style: normal;
}

// Color Scheme
// ------------
// Greens
$green1:                  #21DCA3; // price color

// Blues
$blue1:                   #3500ED;

// White
$white:                   #FFFFFF;

// Black
$black:                   #000000;

// Grays
$gray1:                   #2C2C2C; // header background
$gray2:                   #CCC; // icon colors
$gray3:                   #898A8C; // image carousel arrows
$gray4:                   #eee;

// Oranges
$orange1:                 #FF3C0A; // arrow & button colors

// Typography
// ----------
$font_family:             GrotesqueMT, "Helvetica Neue", Helvetica, Verdana;
$base_font_size:          13px;
$text_color:              #57585B;
$body_background_color:   $white;
$link_color:              $blue1;

// Header Sizes
// ------------
$h1_size:                 $base_font_size + 9px;
$h2_size:                 $base_font_size + 6px;
$h3_size:                 $base_font_size + 3px;

// Borders
// -------
$border_gray1:            1px solid $gray1;
$border_gray2:            1px solid $gray2;
$border_gray2_thick:      2px solid $gray2;
$border_gray3:            1px solid $gray3;
$border_gray4:            1px solid $gray4;

// Gradients
// ---------
$grad_gray1:              linear-gradient($gray1 0, $gray1 100%);
$grad_gray2:              linear-gradient(lighten($gray2, 5%) 0, $gray2 100%);
$grad_gray3:              linear-gradient(lighten($gray3, 40%) 0, $gray3 100%);
$grad_gray3_double:       linear-gradient(darken($gray3, 8%) 0%, $gray3 20%, $gray3 80%, darken($gray3, 8%) 100%);


// Component Sizing
// ----------------
$padding:                 10px;
$margin:                  10px;
$border_radius:           5px;
$btn_width:               100px;
$spacing:                 10px;
$line_height:             17px;

// Text Shadows
// ------------
$text_shadow_gray3:       2px 1px 2px $gray3;
$text_shadow_black:       2px 1px 2px $black;
$text_shadow_white:       0 1px $white;

// Box Shadows
// -----------
$box_shadow:              0 1px 3px rgba(0,0,0,0.9), 0 -1px 2px rgba(250,250,250,0.8);
$box_shadow2:             0 1px 4px rgba(40,40,40,0.9), 0 -1px 1px rgba(250,250,250,0.8);
$box_shadow_wide:         0 0 9px rgba(0,0,0,0.3);
$box_shadow_inset:        inset 0 0 3px rgba(100,100,100,0.50);
