// Footer Styles
#_footer {
  overflow: hidden;
  @include bar_gray1;
  background-color: black;
  border-top: $border_gray1;
  color: $gray2;
  text-align: center;
  padding: 0;
  ._footer {
    padding: 0;
    ._flex_box_item_4 {
      a {
        margin: 0;
      }
      [class*='sprites'] {
        margin: 0 auto;
      }
      .title {
      }
      li {
        list-style-type: none;
      }
    }
  }
}