// Footer Styles
#_footer {
  @include bar_gray1;
  position: fixed;
  z-index: 5;
  width: 100%;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-color: black;
  border-top: $border_gray1;
  color: $gray2;
  text-align: center;
  padding: 0;
  ._footer {
    padding: 0;
    ._flex_box_item_4 {
      text-transform: uppercase;
      font-weight: normal;
      color: $gray3;
      a {
        margin: 0;
      }
      [class*='sprites'] {
        margin: 0 auto;
      }
      .title {
      }
      li {
        list-style-type: none;
      }
      &._shop.active {
        color: white;
        .sprites-shopOff {
          @include sprites-shopOn;
        }
      }
      &._cart.active {
        color: white;
        .sprites-cartOff {
          @include sprites-cartOn;
        }
      }
      &._scan.active {
        color: white;
        .sprites-scanOff {
          @include sprites-scanOn;
        }
      }
      &._more.active {
        color: white;
        .sprites-moreOff {
          @include sprites-moreOn;
        }
      }
      .ui-btn-inner {
        padding: 0;
        padding-top: 5px;
      }
    }
  }
}