// Header Styles
#_header {
  overflow: hidden;
  background-color: $gray1;
  position: fixed;
  z-index: 5;
  width: 100%;
  overflow: hidden;
  .ui-header {    
    border-bottom: $border_gray1;
    position: relative;
    min-height: 40px;
    ._logo {
      font-size: $h2_size;
      padding: 17px;
      font-weight: bold;
      float: left;
      &._back {
        margin-left: 5px;
        padding: 6px;
        .sprites-logo {
          background: none;
          min-height: 28px;
          width: 60px;
          margin: 0;
          .ui-btn-inner {
            margin-top: 8px;
            width: 120px !important;
            @include sprites-buttonArrow;
          }
        }   
        ._back_text {
          position: absolute;
          left: 15px;
          top: -1px;
        }
      }
      span {
        color: $white;
      }
    }
    ._divider {
      border: $border_gray2;
      float: right;
      margin-right: 107px;
      margin-top: 5px;
      height: 40px;
    }
    .browse_btn {
      max-width: 100px;
      word-wrap: normal;
      color: $white;
      font-size: $h2_size;
      padding: 9px;
      float: right;
      &:after {
        position: absolute;
        bottom: 12px;
        right: 14px;
        content: "";
        @include sprites-caratOrangeBrowse;
      }
      .ui-btn-inner {
        border-radius: 0;
        padding: 0;
        text-overflow: clip;
        overflow: visible;
        white-space: normal;
        text-align: left;
      }
    }
    #_search {
      display: block;
      clear: both;
      position: relative;
      &.ui-collapsible-collapsed {
        padding: 0;
      }
      .sprites-searchTap {
        &.ui-collapsible-heading-collapsed {
          @include sprites-search;
        }
        position: absolute;
        top: -35px;
        right: 135px;
        display: block;
      }
      ._collapsible_content {
        position: relative;
        overflow: hidden;
        padding: 0px 10px 5px 10px;
        ._search_input {
          background: $white;
          overflow: hidden; 
          ._search_label {
            float: left;
            width: 28px;
            margin: 7px;
            border-right: $border_gray1;
            background-color: $white;
          }
          #search_query {
            float: left;
            min-width: 250px;
            background: $white;
            border-radius: 0;
            padding: 10px 0;
            margin: 0;
          }
        }
      }
    }
  }
}