// Header Styles
#_header {
  overflow: hidden;
  border-bottom: $border_gray1;
  background-color: $gray3;
  .ui-header {    
    border-bottom: $border_gray1;
    position: relative;
    min-height: 40px;
    ._logo {
      font-size: $h2_size;
      padding: 8px;
      color: $text_color;
      font-weight: bold;
      text-shadow: $text_shadow_gray3;
    }
    .ui-btn-right {
      margin: 6px 6px 0 0;
      padding: 5px;
      border: $border_gray1;
      border-radius: 5px;
      @include background($grad_gray1);
      box-shadow: $box_shadow2;
      top: 0;
      right: 0;
      .ui-btn-inner {
        border-radius: 0;
        padding: 0;
      }
    }
  }
}
#_menu {
  float: left;
  width: 100%;
  #mypanel {
    outline: 3000px solid rgba(0, 0, 0, 0.5);
  }
}