// Header Styles
#_header {
  overflow: hidden;
  background-color: $gray1;
  padding: 5px;
  .ui-header {    
    border-bottom: $border_gray1;
    position: relative;
    min-height: 40px;
    ._logo {
      font-size: $h2_size;
      padding: 20px;
      font-weight: bold;
      display: inline-block;
      span {
        color: $white;
      }
    }
    ._divider {
      border: $border_gray2;
      float: right;
      margin-right: 100px;
      margin-top: 5px;
      height: 50px;
    }
    .ui-btn-right {
      max-width: 100px;
      word-wrap: normal;
      color: $white;
      font-size: $h2_size;
      padding: 15px;
      float: right;
      .ui-btn-inner {
        border-radius: 0;
        padding: 0;
        text-overflow: clip;
        overflow: visible;
        white-space: normal;
        text-align: left;
      }
      &#_search {
        display: block;
        padding: 15px;
        position: relative;
        .sprites-search {
          display: block;
          height: 24px;
        }
      }
    }
  }
}