<div data-role="collapsible-set">
 
  <!-- Collapsible #1 -->
  <div class="_collapsible" data-role="collapsible" data-collapsed="false">
    <!-- Button -->
    <h3></h3>
      <!-- Content -->
    <div class="_collapsible_content"></div>
  </div>
 
 <!-- Collapsible #2 -->
  <div class="_collapsible" data-role="collapsible">
    <!-- Button -->
    <h3></h3>
    <!-- Content -->
    <div class="_collapsible_content"></div>
  </div>

  <!-- Collapsible #3 -->
   <div class="_collapsible" data-role="collapsible">
     <!-- Button -->
     <h3></h3>
     <!-- Content -->
     <div class="_collapsible_content"></div>
   </div>
 
</div>